html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 12px;
}

#drawing {
    cursor: crosshair;
}

#drawing.loading {
    cursor: wait;
}

section.config-pane {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 20em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 1em;
    box-sizing: border-box;
}

section.config-pane label {
    display: block;
    margin-bottom: 0.25em;
}

section.config-pane .row {
    margin: 1em 0;
}

section.config-pane input[type="number"] {
    width: 40%;
}

section.info-pane {
    position: absolute;
    left: 1em;
    bottom: 1em;
    font-size: 0.8em;
    text-shadow: 0 0 3px black;    
    color: white;
}

#footer {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: white;
    font-size: 0.8em;
    opacity: 0.7;
    text-align: right;
}

#footer a {
    color: white;
}

#footer p {
    margin: 0.25em 0;
}

#selection {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border: 1px dashed rgba(255, 255, 255, 0.5);
    pointer-events: none;
}